<header>
    <link rel="icon" type="image/png" href="http://www.tecstrag.com/guardhouse/community/img/favicon-32x32.png" sizes="32x32" />
    <link rel="shortcut icon" href="/Content/img/util/favicon.png">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="../../Content/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../Content/dist/css/AdminLTE.min.css">
</header>
<title>GuardHouse - @(Session["clave"].ToString().ToUpper()) - Print</title>

<style>
    table {
        font-size:9px;
        border:1px;
    }
</style>

<table style="text-align: left; width: 900px; font-size:10px;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tbody>
        <tr class="">
            <td style="width: 20%;">
                <img style=" float: left; width: 170px; height: 60px;" alt="Logo" src="http://www.tecstrag.com/@(Session["clave"] == null ? "community" : Session["clave"])/img/logo.jpg">
            </td>
            <td style="width: 60%; " align=center>
                <h4 style="align-self:center">
                    REPORTE DE VISITAS @(Session["condominio"]) - <b>@ViewBag.rango</b>
                </h4>
                <p>
                    Caseta @Session["idCaseta"] - @Session["direccion"] - Total Visitas: <span id="total"></span>
                </p>
            </td>
            <td style="width: 20%;" align="center">
                <img width="60px" height="60px" alt="Logo" src="http://www.tecstrag.com/@(Session["clave"] == null ? "community" : Session["clave"])/img/tgslogo.jpg">
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="row">
                    <div class="col-xs12">
                        <section>
                            <table class="table table-bordered">
                                <tbody id="bodyVisit">
                                    <tr>
                                        <th style="width: 3%">#</th>
                                        <th style="width: 7%">Fecha</th>
                                        <th style="width: 3%">Hora</th>
                                        <th style="width: 5%">Domicilio</th>
                                        <th style="width: 5%">Estatus</th>
                                        <th style="width: 5%">Placa</th>
                                        <th style="width: 12%">Nombre</th>
                                        <th style="width: 35%">Detalle</th>
                                        <th style="width: 25%">Informaci&oacute;n</th>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<script src="../../Content/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script>
    $(function () {

        let son = "@ViewBag.reporte";
        while (0 < son.search("&quot;")) {
            son = son.replace("&quot;", "\"");
        }

        let reporte = JSON.parse(son);

        let tr = "";
        let i = 1;
        reporte.map((r) => {
            tr = "<tr><td>" + i + "</td><td>" + r.Fecha_Entrada + "</td><td>" + r.Hora_Entrada + "</td><td>" + r.Domicilio + "</td><td>" + r.Estatus + "</td><td>" + (r.Placa == null ? "CAMINANDO" : r.Placa) + "</td><td>" + r.Nombre + "</td><td>" + r.Detalle + "</td><td>" + r.Subdetalle + "</td></tr>";
            $("#bodyVisit").append(tr);
            i++;
        });
        $("#total").html(reporte.length);

        window.print();
    });
    
</script>