
@{
    ViewBag.Title = "Visitas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderPage("~/Views/Shared/_ContentHeader.cshtml")

<style>
    .registro {
        border-radius: 10px; 
        /*! box-shadow: 5px 8px 5px #c8b7b7; */
        cursor: pointer;
        border-bottom-style: outset;
    }

    .registro:hover {
        border-radius: 8px;
        box-shadow: 5px 8px 5px #c8b7b7;
        cursor: pointer;
        
        background-color:#fff!important;
    }
    .registro span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

     .registro span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            left: -20px;
            transition: 0.5s;
        }

        .registro:hover span {
            padding-right: 25px;
        }

            .registro:hover span:after {
                opacity: 1;
                right: 0;
            }
    
</style>

<section class="content">
    <div class="row">
        <div class="col-xs-12 registrar">
            <!-- small box -->
            <div class="small-box bg-red-gradient registro">
                <div class="inner">
                    <h3>@ViewBag.registros &nbsp;</h3>
                    <h3>&nbsp;&nbsp;&nbsp;<span>Registrar Visita</span></h3>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="modalForm" class="modal fade in" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;  ">


    <!--div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="modalForm"-->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  tecstragmodal ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="gridSystemModalLabel"><b>Registro Express</b></h3>
            </div>
            <div class="modal-body">
                <div id="panelCasa" style="display:block">
                    <div class="box" style="border-top: 0px solid #fff;">
                        <div class="box-body ">
                            <div class="input-group margin">
                                <div class="input-group-btn" style="padding-top: 0px;">
                                    <button type="button" class="btn btn-instagram" style="padding-bottom: 34px;padding-top: 35px;"><b style="font-size: 20px;">No Casa</b></button>
                                </div><!-- /btn-group -->
                                <input class="form-control" name="nocasa" id="nocasa" required="" placeholder="Número de la casa" style="font-size: 49px;height: 99.5px;border-color: #3f729b;" type="number">
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-danger alert-dismissable alertmodalcasa" style="display:none">
                                        <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                        <div id="messModalcasa">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal"><i class="fa fa-times-circle"></i>&nbsp;Cerrar</button>
                                <button type="button" class="btn btn-lg btn-facebook siguiente">Continuar&nbsp;<i class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                        <div class="overlay" id="overlaycasa" style="display:none">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                    
                </div>
                <div id="panelVisitante" style="display:none">
                    <form id="regExpress" action="@Url.Action("Registro", "Visitas")" method="post">
                        <input type="hidden" name="casa" id="casa" />
                        <!--Busqueda Rapida-->
                        <div class="input-group margin">
                            <div class="input-group-btn" style="padding-top: 0px;">
                                <button type="button" class="btn btn-instagram" style="padding-bottom: 14px;padding-top: 14px;"><b>Id Credencial</b></button>
                                @*<button type="button" data-toggle="dropdown" aria-expanded="true" style="padding-bottom: 14px;padding-top: 14px;" class="btn btn-instagram dropdown-toggle">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu" style="background-color: #a6bfd8;">
                            <li><a href="#"><b>INE</b></a></li>
                            <li><a href="#"><b>Licencia</b></a></li>
                            <li><a href="#"><b>Otra</b></a></li>
                        </ul>*@
                            </div><!-- /btn-group -->
                            <input class="form-control" name="numeroid" id="numeroid" required="" placeholder="Número de identificación" style="font-size: 25px;height: 50px;" type="text">
                        </div>
                        <div class="input-group margin">
                            <div class="input-group-btn" style="padding-top: 0px;">
                                <button type="button" class="btn btn-instagram" style="padding-bottom: 14px;padding-top: 14px;"><b>Placa</b></button>
                            </div><!-- /btn-group -->
                            <input class="form-control" name="placa" id="placa" required="" placeholder="Placa del Automovil ó 'CAMINANDO' si viene a pie." style="font-size: 25px;height: 50px;" type="text">
                        </div>

                        <!--/Busqueda Rapida-->
                        <!--Formulario-->
                        <div class="row" style="margin-top: -5px;border-top-style: solid;margin-bottom: -5px;border-top-width: 0px;">
                            <div class="margin col-sm-9 col-md-8 col-xs-12">
                                <div class="form-group">
                                    <label for="nombre">Nombre Visitante</label>
                                    <input class="form-control" name="nombrevisitante" id="nombrevisitante" style="border-color: #3f729b;" placeholder="Nombre en identificación" type="text" required>
                                </div>
                            </div>
                            <div class="margin col-sm-2 col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label for="nombre">Tipo Id</label>
                                    <select class="form-control" id="tipoid" name="tipoid">
                                        <option value="INE">INE</option>
                                        <option value="Licencia">Licencia</option>
                                        <option value="Otra">Otra</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -5px;border-top-style: solid;margin-bottom: -5px;border-top-width: 0px;">
                            <div class="col-sm-6 col-md-4 col-xs-12" style="margin-left: 10px;">
                                <div class="form-group ">
                                    <label for="marca">Marca </label>
                                    <input class="form-control" id="marca" name="marca" placeholder="Marca Vehiculo" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xs-12">
                                <div class="form-group ">
                                    <label for="submarca">Submarca</label>
                                    <input class="form-control" id="submarca" name="submarca" placeholder="Submarca Vehiculo" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label for="color">Color</label>
                                    <input class="form-control" id="color" name="color" placeholder="Color Vehiculo" type="text">
                                </div>
                            </div>
                        </div>

                        <!--/Formulario-->

                        <table id="visitanteTabla" class=" table table-bordered table-striped  display responsive nowrap" cellspacing="0" width="100%" identity="visitaT" data-toggle="tooltip" data-placement="top" data-original-title="Historial de Visitantes.">
                            <thead>
                                <tr>
                                    <th>Id Credencial</th>
                                    <th>Placa</th>
                                    <th>Nombre</th>
                                    <th>Automovil</th>
                                </tr>
                            </thead>
                        </table>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-danger alert-dismissable alertmodal" style="display:none">
                                    <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                    <div id="messModal">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" id="eva" value="@ViewBag.SubmitAjax" />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-lg atras" ><i class="fa fa-chevron-left"></i>&nbsp;Atras</button>
                            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal"><i class="fa fa-times-circle"></i>&nbsp;Cerrar</button>
                            <button type="submit" id="save" class="btn btn-success btn-lg"><i class="fa fa-check"></i>&nbsp;Registrar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->
<!-- DataTables -->
<script src="../../Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="../../Content/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script>
    function myTrim(x) {
        return x.replace(/^\s+|\s+$/gm, '');
    }
        $(document).ready(function () {

            $(".registrar").click(function() {
                $("body").addClass("modal-open");
                $("#modalForm").show();
                $("#panelCasa").show();
                $("#panelVisitante").hide();
                
            });

            $("[data-dismiss='modal']").click(function () {
                $("body").removeClass("modal-open");
                $("#modalForm").hide();
                $("#nocasa").val("");
                document.getElementById("regExpress").reset();
            });

            var tablav = $("#visitanteTabla");
            tablav.dataTable({
                "stateSave": true,
                "paging": false,
                "searching": false,
                "ordering": true,
                "language": {
                    "decimal": "",
                    "emptyTable": "No exite información relacionada al visitante.",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ encontrados",
                    "infoEmpty": "Mostrando 0 a 0 de 0 encontrados",
                    "infoFiltered": "(Filtrado de  _MAX_ Total Encontrados)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Ver _MENU_ registros",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "No se encontro Ningun Registro",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Previo"
                    }
                }
            });

            $("form#regExpress").submit(function (e) {
                e.preventDefault();
                
                var credencial = $("#numeroid").val();
                var placa = $("#placa").val();
                var nombre = $("#nombrevisitante").val();


                if (myTrim($("#numeroid").val()).length < 4)
                {
                    $(".alertmodal").hide();
                    $(".alertmodal").show();
                    $("#messModal").html("Número de identificación erroneo, capture otra vez!");
                    return false;
                }


                if (myTrim($("#placa").val()).length < 6) {
                    $(".alertmodal").hide();
                    $(".alertmodal").show();
                    $("#messModal").html("Número de placa erroneo, capture otra vez!");
                    return false;
                }


                if (myTrim($("#nombrevisitante").val()).length < 10) {
                    $(".alertmodal").hide();
                    $(".alertmodal").show();
                    $("#messModal").html("Nombre del visitante erroneo, capture otra vez!");
                    return false;
                }

            });

            $(".siguiente").click(function () {
                $(".alertmodalcasa").hide();
                $("#overlaycasa").show();
                if (myTrim($("#nocasa").val()).length < 3) {
                    $("#overlaycasa").hide();
                    $(".alertmodalcasa").show();
                    $("#messModalcasa").html("Número de casa es incorrecto!");
                    return false;
                    }
                document.getElementById("regExpress").reset();
                ///////////
                $.ajax({
                    type: 'GET',
                    url: '/api/data/PropiedadEstatus/' + $("#nocasa").val(),
                    headers: {"Authorization":"bearer @Session["tk"].ToString()"}
                }).done(function (data) {
                    console.log(data);
                    var json = $.parseJSON(data);
                    var propiedad = json["respuesta"][0];
                    var mensajes = json["respuesta"][1]
                    console.log(json);
                    console.log(propiedad);
                    console.log(mensajes);
                    //console.log(json[1]);
                    ///////////
                    $("#casa").val($("#nocasa").val());
                    $("#overlaycasa").hide();
                    $("#panelCasa").hide();
                    $("#panelVisitante").show();
                    $("[name='numeroid']").focus();
                }).fail(function (e) {
                    $("#overlaycasa").hide();
                    $(".alertmodalcasa").show();
                    $("#messModalcasa").html("Falla al obtener información de la propiedad!");
                    console.log(e.responseText);
                });
                
            });

            $(".atras").click(function () {
                document.getElementById("regExpress").reset();
                $("#panelCasa").show();
                $("#panelVisitante").hide();
            });
        })
</script>

